
@{
    ViewBag.Title = "Contact Sales";
}

<h2>Contact Sales</h2>

Reach out to one of our helpful sales people at blahblah@crm.com and someone will reach back out to you shortly.
<br />
Of course this could be another model that takes in a form input and passes it on to the sales team.