
@{
    ViewBag.Title = "Use Cases";
}

<h2>@ViewBag.Title</h2>

This is where our use cases would go once we had some.
<br />

Afghanistan Albania Algeria Andorra Angola Antigua & Deps Argentina Armenia Vietnam Indonesia, Madagascar Samoa Nicaragua Cuba Belgium Honduras Sierra Leone Sweden Hungary, United States Bulgaria Namibia Sudan New Zealand Norway Luxembourg Gabon. Bulgaria Antigua & Deps Nigeria Swaziland Mauritius Norway Bhutan Mexico El Salvador Canada Lithuania Belgium, Iceland Saint Vincent & the Grenadines Nauru Brazil Congo Georgia United Kingdom Slovenia Uruguay Chile, France China Turkmenistan Israel Angola Benin Liberia Comoros Malawi Jordan. United States Tanzania Ethiopia Philippines St Kitts & Nevis Benin Senegal Seychelles Honduras Canada Kuwait Georgia, Iran Afghanistan Korea South Macedonia Fiji Thailand Mauritania Bahrain Gambia. Moldova Belize Vietnam Estonia Jordan Guinea-Bissau Indonesia Guyana Malaysia Turkey Liechtenstein, Denmark Costa Rica Iceland Haiti Paraguay Bulgaria Romania Chile Belarus, Monaco Senegal Ghana Uzbekistan Venezuela Saint Vincent & the Grenadines Botswana Andorra Kenya. Djibouti United States Croatia Sri Lanka Laos Macedonia Australia Cambodia Malaysia Czech Republic, Burkina Kenya Uganda Papua New Guinea Slovakia South Africa Denmark Poland Spain, Senegal Qatar Morocco Ivory Coast Belarus Norway Paraguay Vanuatu.