@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CRM</h1>
    <p class="lead">CRM is a tool to create contacts and allow heirarcical access to them. With robust logging and graniular control over access get the most out of your customer pipeline.</p>
    <p>Brevity is the soul of wit.  But this denoted a foregone conclusion:  No, hath not? Rosalind lacks, then, the love Which teacheth thee that thou and I am one. Hisperia, the Princess' gentlewoman, Confesses that she secretly o'erheard Your daughter and her cousin much commend The parts and graces of the wrestler That did but lately foil the sinewy Charles; And she believes, wherever they are gone, That youth is surely in their company. It will make you melancholy, Monsieur Jaques. I'll graff it with you, and then I shall graff it with a medlar. Then it will be the earliest fruit i' th' country; for you'll be rotten ere you be half ripe, and that's the right virtue of the medlar.</p>
    <p><a href="https://localhost:44352/SupportPages/UseCases" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>See Use Cases</h2>
        <p>
            Beef chicken pork bacon chuck shortloin sirloin shank cow, tempor tri-tip porkloin flank minim spareribs pancetta voluptate, incididunt meatball pastrami turkey t-bone andouille culpa. Adipisicing sint magna nulla laboris pig dolore consequat cillum, ut non chuck eu labore shank. Nisi in commodo salami esse t-bone tri-tip ex, minim meatball aliquip swine beefribs sirloin, doner sed cupidatat andouille sint sunt. Pancetta nulla pariatur ut drumstick spareribs culpa cupidatat, non fugiat voluptate flank ribeye kevin in eu, do beefribs salami pig commodo sunt. Tri-tip sint proident salami boudin exercitation aute labore velit commodo cow shortribs id  beefribs, in nisi shoulder dolore enim mollit pastrami magna laboris meatball sirloin swine. Eiusmod sint fugiat qui minim stripsteak biltong tri-tip dolor ut id, tail mollit pig frankfurter voluptate sirloin porkchop est.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44352/SupportPages/UseCases">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View testimonials!</h2>
        <p>Live now; make now always the most precious time. Now will never come again. Madness has no purpose. Or reason. But it may have a goal. Curious, how often you humans manage to obtain that which you do not want. Instruments register only through things they're designed to register. Space still contains infinite unknowns. Live Long and Prosper.</p>
        <p><a class="btn btn-default" href="https://localhost:44352/SupportPages/Testimonials">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact an agent!</h2>
        <p>Greater than ever before. Mark my words. That’s what people want, they want placeholder text to be great again. The best taco bowls are made in Trump Tower Grill. They’re not sending you, they’re sending words that have lots of problems and they’re bringing those problems with us.</p>
        <p><a class="btn btn-default" href="https://localhost:44352/SupportPages/ContactSales">Learn more &raquo;</a></p>
    </div>
</div>